#post {
  display: grid;
  gap: 0.5em;

  max-width: 65ch;
  margin: 0 auto;
}

#post-tags {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 5px;

  margin-top: 1em;
}

.post-credits {
  margin: 1em auto;
}

#comment-section {
  margin-top: 2rem;
}

form.comment-reply > .buttons {
  display: flex;
  gap: 5px;
  justify-content: end;
}

#comment-list {
  display: grid;
  gap: 1em;
  padding: 0;
}

.comment {
  display: grid;
  border: 1px solid var(--clr-secondary);
  border-radius: 5px;
  padding: 0.5em;
}

.comment:first-child {
  border-top: 1px solid var(--clr-secondary);
  margin-top: 1rem;
}

.comment-credits {
  display: flex;
  justify-content: space-between;
}

.comment-message-row {
  display: flex;
  align-items: center;
}
.comment-child {
  margin-left: 2rem;
}

.comment-action {
  background-color: var(--clr-background);
  text-decoration: underline;
}

.comment-action:hover {
  background-color: var(--clr-background);
}

.comment-action.edit {
  margin-left: auto;
}
