div.tabs {
  display: flex;
  gap: 5px;
}

.active-tab {
  background-color: var(--clr-primary);
}

.tab:focus {
  outline: none;
}

.tab {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
}

#active-list {
  background-color: var(--clr-primary);
  padding: 1em;
}

ul.post-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: var(--spacing-1);
}

li.post {
  border: 2px solid var(--clr-accent);
  border-radius: 8px;
  padding: var(--spacing-2);
  background-color: var(--clr-bg);
  position: relative;
}

a.post-edit {
  position: absolute;
  right: 15px;
  top: 10px;
}

.tag-list {
  display: flex;
  gap: var(--spacing-1);
  flex-wrap: wrap;
}

.tag {
  background-color: var(--clr-primary);
  color: var(--clr-bg);
  font-weight: 700;
  padding: 0.15em 0.5em;
  border-radius: 8px;
}

.no-posts {
  padding: var(--spacing-3);
  background-color: var(--clr-bg);
  border-radius: 8px;
  display: grid;
  gap: var(--spacing-2);
}

button.start-writing {
  background-color: var(--clr-accent);
}
