#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header,
.nav {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: center;
}

.nav {
  list-style: none;
  gap: 10px;
}

main {
  flex-grow: 1;
}

footer {
  padding: 2rem;
  text-align: center;
}
