#root {
  min-width: calc(100vw - 2em);
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

nav > ul {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  list-style: none;
}

main {
  flex-grow: 1;
}

li.tag {
  background-color: var(--clr-accent);
  font-weight: 700;
  font-size: 0.75rem;
  max-width: fit-content;
  padding: 0.1em 0.3em;
  border-radius: 8px;
  text-transform: uppercase;
}
