#root {
  min-width: calc(100vw - 2em);
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

nav > ul {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
}

main {
  flex-grow: 1;
}

ul#posts {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 1rem;
}

.post-list-item {
  border: 2px solid var(--clr-text);
  border-radius: 15px;
}

.post_frame {
  background-color: var(--clr-text);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  min-height: 150px;
}

.post_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

ul.tags {
  padding: 15px;
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 5px;
}

.tag {
  background-color: var(--clr-accent);
  padding: 0.25em;
  border-radius: 8px;
}

.field-error {
  color: var(--clr-error);
}
