:root {
  --clr-text: #091111;
  --clr-text-hover: #3d4a4a;
  --clr-background: #f5fbfa;
  --clr-primary: #4ac1ba;
  --clr-secondary: #90e1dc;
  --clr-accent: #61ded6;

  --clr-error: #c23854;
  --clr-warning: #ffce52;
  --clr-success: #008533;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-text);
  background-color: var(--clr-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--clr-text);
  text-decoration: inherit;
}

a:hover {
  color: var(--clr-text-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--clr-accent);
}

button:focus,
button:focus-visible {
  outline: 4px solid var(--clr-text);
}

input,
select,
textarea,
button {
  font: inherit;
}

form {
  display: grid;
  gap: 1rem;
}

.form-row {
  display: grid;
  justify-items: start;
}

input {
  width: 100%;
  outline: 3px solid var(--clr-accent);
}

input:not(:placeholder-shown):valid {
  outline-color: var(--clr-success);
}

input:not(:placeholder-shown):invalid {
  outline-color: var(--clr-error);
}

input:focus:invalid {
  outline-color: var(--clr-warning);
}

form > button {
  justify-self: start;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-text: #eef6f6;
    --clr-text-hover: #c9d3d3;
    --clr-background: #040b0a;
    --clr-background-highlight: #0b1e1c;
    --clr-primary: #3eb6ae;
    --clr-secondary: #1f706b;
    --clr-accent: #219c94;
  }
}
